.cart {
    position: fixed;
    top: 70px;
    /* Adjust according to your header height */
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.cart img {
    width: 100%;
}

.cart h3 {
    text-align: center;
    font-weight: bold;
}