.navbar-nav .nav-link {
    font-size: 20px;
    font-weight: 300;
    color: white;
    padding: 10px 20px;
    z-index: 15;
    padding-left: 45px;
}

.navbar {
    background-color: black;
    position: fixed;
    top: 0px;
}

.header-title {
    background-color: #777777;
    padding: 31px;
    margin: 2px;
    text-align: center;
    width: 100%;
}

.header-title h2 {
    text-align: center;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
}

/* Responsive adjustments */
@media screen and (max-width: 992px) {
    .navbar-nav .nav-link {
        padding: 10px;
        font-size: 16px;
    }

    .header-title h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 14px;
    }

    .header-title h2 {
        font-size: 30px;
    }
}

* {
    font-family: serif;
}

.fa {
    color: white;
    margin-right: 20px;
    font-size: 25px;
}

.albumBtn {
    display: block;
    border: 1px solid #56CCF2;
    padding: 15px 30px;
    font-size: 23px;
    font-weight: 200;
    margin: 10px auto;
    background: inherit;
    cursor: pointer;
    color: white;
    /* margin-top: 30px; */
}

.playBtn {
    cursor: pointer;
    /* display: block; */
    border: 2px solid #56CCF2;
    border-radius: 50%;
    padding: 20px;
    font-size: 30px;
    /* font-weight: 200; */
    /* margin: 20px auto; */
    background: inherit;
    color: #56CCF2;

}